<article class="card">
  {{ with .Params.image }}<img src="{{ . }}" alt="{{ $.Title }}" class="card-img">{{ end }}
  <div class="card-body">
    <span class="card-category">
      {{- with .Params.series }}{{ index . 0 }}
      {{- else }}{{ with $.Params.categories }}{{ index . 0 }}{{ end }}{{ end -}}
    </span>
    <h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{ with .Params.episode }}<span class="card-episode">Episode {{ . }}</span>{{ end }}
    <p class="card-summary">{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}</p>
    <time class="card-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
  </div>
</article>
